<ul class="share-buttons">
  <li><a href="https://facebook.com/sharer.php?u={{ .URL | absURL }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src='{{"/images/flat_web_icon_set/color/Facebook.png" | absURL }}' /></a></li>
  <li><a href="https://twitter.com/intent/tweet?text={{ .Title }}&url={{ .URL | absURL }}&via={{ .Site.Data.site.twitter_username }}&related={{ .Site.Data.site.twitter_username }}" target="_blank" title="Tweet"><img alt="Tweet" src='{{"/images/flat_web_icon_set/color/Twitter.png" | absURL }}' /></a></li>
  <li><a href="https://plus.google.com/share?url={{ .URL | absURL }}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src='{{"/images/flat_web_icon_set/color/Google+.png" | absURL }}' /></a></li>
  <li><a href="http://www.reddit.com/submit?url={{ .URL | absURL }}&title{{ .Title }}" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src='{{"/images/flat_web_icon_set/color/Reddit.png" | absURL }}' /></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ .URL | absURL }}&title={{ .Title }}&summary=&source={{ .Site.BaseURL }}" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src='{{"/images/flat_web_icon_set/color/LinkedIn.png" | absURL }}' /></a></li>
</ul>

<!-- sharing icons, html, css from https://simplesharingbuttons.com/-->
